* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --primary-color: #47898c;
  --secondary-color: #bfd3c1;
  --sidebar-color: #eaeaea;
  --add-button-color: #8aaa67;
  --delete-button-color: #b6443f;
  --light-font-color: #ebf2fa;
  --dark-font-color: #2f2f2f;
  --element-border-radius: 15px;
  --button-border-radius: 7px;
}

/* Body */
body {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  color: var(--dark-font-color);
}

/* Header */
.header {
  height: 60px;
  background: var(--primary-color);
  background: -webkit-linear-gradient(270deg, #bfd3c1, #47898c);
  background: linear-gradient(270deg, #bfd3c1, #47898c);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bokor', cursive;
  color: var(--secondary-color);
  font-size: 32px;
}

.logo p {
  position: relative;
  top: 8px;
  left: 3px;
}

.logo img {
  height: 40px;
  width: auto;
}

.login-btn button {
  width: 100px;
  height: 30px;
  font-weight: 600;
  border: none;
  background: var(--primary-color);
  color: var(--light-font-color);
  border-radius: var(--button-border-radius);
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}

.login-btn button:focus {
  outline: none;
}

.login-btn button:hover {
  scale: 1.02;
  filter: brightness(0.9);
}

.login-btn button:active {
  scale: 0.98;
}
/* End of Header */

/* Main */
.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: calc(100% - 100px);
}

/* Main -> Container */
.container {
  grid-column: 1 / 11;
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  overflow-y: scroll;
}

.item {
  width: 100%;
  max-height: 400px;
  position: relative;
  /* align-self: stretch;
  justify-self: center; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  padding: 12px 12px 18px;

  background: #43c689;
  background: -webkit-linear-gradient(45deg, #bfd3c1, #47898c);
  background: linear-gradient(45deg, #bfd3c1, #47898c);
  border-radius: var(--element-border-radius);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.item-delete-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.item-delete-btn button {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 20px;
  color: var(--delete-button-color);
  transition: transform 0.2s ease-in-out;
}

.item-delete-btn button i {
  pointer-events: none;
}

.item-delete-btn button:focus {
  outline: none;
}

.item-delete-btn button:hover {
  scale: 1.1;
  transform: rotate(90deg);
  filter: brightness(1.2);
}

.item-delete-btn button:active {
  scale: 0.9;
}

.item-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  gap: 15px;
  color: var(--light-font-color);
  overflow-y: hidden;
}

.item-description p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.item-title {
  font-size: 22px;
  font-weight: 600;
}

.item-status {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-status label {
  font-size: 18px;
  color: var(--light-font-color);
}

/* Main -> Sidebar */
.sidebar {
  grid-column: 11 / 13;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--sidebar-color);
  box-shadow: rgba(0, 0, 0, 0.2) -3px 0px 10px;
}

.stats-panel,
.add-btn,
.delete-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Main -> Sidebar -> Buttons */
.add-btn {
  margin-top: 50px;
}
.delete-btn {
  margin-bottom: 50px;
}

.add-btn button,
.delete-btn button {
  font-family: 'Poppins', sans-serif;
  width: min(80%, 150px);
  height: 40px;
  font-weight: 600;
  border: none;
  color: var(--light-font-color);
  border-radius: var(--button-border-radius);
  letter-spacing: 1px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.add-btn button {
  background: var(--add-button-color);
}

.delete-btn button {
  background: var(--delete-button-color);
}

.add-btn button:focus,
.delete-btn button:focus {
  outline: none;
}

.add-btn button:hover,
.delete-btn button:hover {
  scale: 1.02;
  filter: brightness(0.9);
}

.add-btn button:active,
.delete-btn button:active {
  scale: 0.98;
}

/* Main -> Sidebar -> Stats Panel */
.stats-panel {
  width: min(170px, 90%);
  height: 40%;
  padding: 15px;
}

.stats-panel ul {
  list-style: none;
  margin: auto 0;
  padding: 0;
}

.stats-panel li {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 200;
  margin: 15px 0;
}

.stats-panel li span {
  font-weight: 500;
}
/* End of Main */

/* Footer */
.footer {
  height: 40px;
  background: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  text-align: center;
  font-weight: 500;
  color: var(--primary-color);
}

.footer a {
  text-decoration: none;
  font-weight: 700;
}

.footer a:visited {
  text-decoration: none;
  color: var(--primary-color);
}
/* End of Footer */

/* Modal */
.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  background: whitesmoke;
  border-radius: var(--element-border-radius);
  /* margin: 15% auto; */
  padding: 20px 20px 40px;
  width: min(350px, 90%);
}

.modal-close-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal-close-btn button {
  background: transparent;
  border: none;
  font-size: 24px;
  color: var(--delete-button-color);
  transition: transform 0.2s ease-in-out;
}

.modal-close-btn button:hover {
  scale: 1.1;
  transform: rotate(90deg);
  filter: brightness(1.2);
}

.modal-close-btn button:focus {
  outline: none;
}

.modal-close-btn button:active {
  scale: 0.9;
}

.modal-title {
  margin: 0;
  padding: 0;
  text-align: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.modal-form input[type='text'],
.modal-form input[type='number'] {
  display: block;
  width: 250px;
  height: 35px;
  border-radius: var(--button-border-radius);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
  padding: 5px 10px;
  /* border: 1px solid var(--secondary-color); */
  border: none;
  margin-top: 5px;
}

.modal-form input[type='text']:focus,
.modal-form input[type='number']:focus {
  outline: none;
}

.modal-form input[type='checkbox'] {
  margin-top: 10px;
}

.modal-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 100%;
}

.modal-submit-btn button {
  background: var(--add-button-color);
  font-family: 'Poppins', sans-serif;
  width: min(80%, 180px);
  height: 40px;
  font-weight: 600;
  border: none;
  color: var(--light-font-color);
  border-radius: var(--button-border-radius);
  letter-spacing: 1px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.modal-submit-btn button:focus {
  outline: none;
}

.modal-submit-btn button:hover {
  scale: 1.02;
  filter: brightness(0.95);
}

.modal-submit-btn button:active {
  scale: 0.98;
}
